body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }

text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
  fill: #606060;
}
rect {
  stroke: #fff;
}
rect.parent,
.grandparent rect {
  stroke-width: 1px;
}
.grandparent rect {
  fill: orange;
}
.grandparent:hover rect {
  fill: #ee9700;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children rect.parent {
  fill: #bbb;
  fill-opacity: 0.75;
}
.children:hover rect.child {
  fill: #bbb;
}

.children text, .ctext text{
  font-size: 85%;
  fill: #fff;
}
.ctext{
   font-size: 60%;
  fill: #fff;
}

.ptext tspan {
  font-size: 95%;
  fill: #fff;
}

.children .ptext tspan {
  font-size: 120%;
  fill: #fff;
}

.tooltipTree {
  border: 1px solid transparent;
  border-radius: .25rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
   font-size: 11px;
   min-height: 40px;
   padding: 2px;
   pointer-events: none;
   position: absolute;
   text-align: center;
   min-width: 150px;
   z-index: 10;
}
.tooltipTree span {
   color: #dd3e45;
}

.button-treemap text {
   font-weight: bold;
   fill: #606060;
}
//.button-treemap rect {
//   stroke-width: 1px;
//}
.button-treemap rect {
   fill: orange;
   border: 3px #606060;
}
.button-treemap:hover rect {
   fill: #ee9700;
}
