<div class="header-container">
  <div class="logo-container">
    <!--<a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>-->
    <a class="logo" href="#" (click)="navigateHome()">QDS-COVID<span></span></a>
     <div class="button-sample">
        <button class="small-margin" nbButton *ngFor="let entry of datasets" outline="{{ entry.outlined }}"
                status="primary" routerLink="/demo3/{{ entry.name }}" routerLinkActive="active" (click)="changeColor(entry.name)">
           {{ entry.label }}
        </button>
     </div>
  </div>
<!--
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
-->
</div>

<div class="header-container">
  <nb-actions size="small">

    <!--<nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>-->
     <nb-action  class="control-item" title="Faça o tour" size="medium" (click)="initTour()">
        <span class="">Tour</span>
        <nb-icon icon="question-mark-circle-outline"></nb-icon>
     </nb-action>
    <nb-action class="control-item" ><a href="http://www.ufrgs.br/english/home"><img style="width: 80px; height: 64px;" src="assets/logo-ufrgs.png" alt="Federal University of Rio Grande do Sul"></a></nb-action>
    <nb-action class="control-item" ><a href="http://www.inf.ufrgs.br/ppgc/en/"><img style="width: 92px; height: 55px;" src="assets/logo-inf.png" alt="Institute of Informatics Federal University of Rio Grande do Sul"></a></nb-action>
    <!--
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               nbContextMenuTag="user-context-menu"
               [name]="user?.name"
               [title]="user?.email">
      </nb-user>
    </nb-action>
    -->
  </nb-actions>
</div>
