<nb-card size="medium" [formGroup]="options">
   <!--   <nb-card-header>-->
   <!--      <form [formGroup]="options">-->
   <!--         FROM:-->
   <!--         <input nbInput placeholder="Start DateTime" [nbDatepicker]="formpickerbegin" formControlName="fromDateTime">-->
   <!--         <nb-datepicker #formpickerbegin format="MM/DD/YYYY" (dateChange)="broadcast($event, null)" [min]="minDate" [max]="finalDate"></nb-datepicker>-->
   <!--         TO:-->
   <!--         <input nbInput placeholder="Start DateTime" [nbDatepicker]="formpickerend" formControlName="toDateTime">-->
   <!--         <nb-datepicker #formpickerend format="MM/DD/YYYY" (dateChange)="broadcast(null, $event)" [min]="initialDate" [max]="maxDate"></nb-datepicker>-->
   <!--      </form>-->
   <!--   </nb-card-header>-->
   <nb-card-body id="{{uniqueId}}" class="no-overflow"></nb-card-body>
</nb-card>
