/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~leaflet/dist/leaflet.css";

@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink);
$app-warn:    mat-palette($mat-red);

// Custom Sass colors vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($theme);

@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

// Using the $theme variable from the pre-built theme you can call the theming function
@include mat-datetimepicker-theme($theme);

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   overflow: hidden;
   font-family: 'Lato', sans-serif;
}

.tick {
  font-family: 'Lato', sans-serif;
}

.leaflet-container {
   background: rgb(202, 210, 211);
}

.leaflet-clickable {
   cursor: crosshair !important;
}

#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div.leaflet-control-attribution.leaflet-control {
   visibility: hidden;
}

.mat-slider-horizontal {
   min-width: 100% !important;
}

.over-map {
   z-index: 9000;
}

.on-map {
   position: absolute;
   z-index: 900;
}

/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.app-footer-item {
  max-height: 31.75%;
  flex: 1 0 30%;
  padding: 1px;
}

[hidden] { display: none !important;}

.leaflet-control-layers {
  top: 0px;
}

app-bar-chart svg, app-line-chart svg {
   color: #717c95;
}

.no-overflow {
   overflow: visible;
}

.leaflet-control-layers-base span {
   color: #717c95;
}

.gu-mirror {
   position: fixed !important;
   margin: 0 !important;
   z-index: 9999 !important;
   opacity: 0.8;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
   pointer-events: none;
}

.gu-hide {
   left: -9999px !important;
}

.gu-unselectable {
   -webkit-user-select: none !important;
   -moz-user-select: none !important;
   -ms-user-select: none !important;
   user-select: none !important;
}

.gu-transit {
   opacity: 0.2;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
   filter: alpha(opacity=20);
}

.small-margin {
   margin-left: 3px;
   margin-right: 3px;
}

.text-right {
   text-align: right;
}

.button-sample {
   display: flex;
   align-items: center;
}



